<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>

<div class="">
    <h6 class="ossi ">PelucheOsi</h6>
    <div class="container">
        <div class="row">
            <form  action="" method="POST" enctype="multipart/form-data">
            <div class="col-12 cajaPrincipal">
                <div class="col-12 col-md-4"><img src="/images/users/<%=user.image%> " alt="" class="img-fluid">
                    <div class="uploadimage">
                        <label for="image"><i class="fas fa-cloud-upload-alt labeledit" aria-hidden="true"> Cambiar foto</i><input id="image"type="file" class="imputedit" name="image"></label>
                        
                      </div>
                    </div>
                <ul class=" id col-12 col-md-6">
                <li >Numero de Identificacion: <%-user.id%>  </li>
                <li>Nombre: <input class="nombre" type="text" name="name" id="nombre-de-usuario " value="<%- (typeof old != 'undefined' && old.name)?old.name:user.name %> "> </li>
                <li>Nombre de usuario: <input class="nombre" type="text" name="nameU" id="alias-de-usuario" value="<%- (typeof old != 'undefined' && old.nameU)?old.nameU:user.nameU %> "> </li>
                <li >Email: <%-user.email%>  </li>
                <li>Juegos Adquiridos: Undefined </li>
                </ul>
                <% if(typeof errors != 'undefined'){ %> 
                    <% for (let i = 0; i < errors.length; i++){ %> 
                        <small class="text-danger"><%= errors[i].msg %></small><br>
                    <% } %>                      
            <% } %> 
                <div class="col-12">
                <button type="submit" class=" btn-success col-6 col-md-2 editbttm">Guardar</button> <a href="/users/profile/<%- user.id %> "><button type="button" class="editbttm btn-success col-6 col-md-2">Atras</button></a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<%-include("./partials/footer.ejs")%>