<!DOCTYPE html>
<html lang="es">
<head class="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d302e505c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/stylenewProduct.css">
    <title><%= title %></title>
</head>


<body>
    <div class="container"> 
      <form  class= "formulario" action="" method="POST" enctype="multipart/form-data">
        <div class="row botones">
          <a href="/admin"><button type="button" class="btn btn-success">Atras</button></a>
          <button type="button" class="btn btn-success">Vista previa</button>
          <button type="submit" class="btn btn-success">Guardar</button>
      </div>
        <div class="row cd">
            <div class="col-12 col-md-5 da">
                <div class="row caja0">
                    <img src="/images/LogoMakr_8h3KUr.png" alt="">
                    <h5>Carga de producto</h5>
                </div>
                <div class="row caja1">
                    <label for="nombre-producto">Nombre</label>
                    <input class="nombre" type="text" name="name" id="nombre-producto " value="<%-producto.name %> ">
                </div>
                <div class="row caja2">
                    <label for="descripcion">Descripcion</label>
                    <textarea class="descripcion" name="description" id="descripcion" cols="40" rows="6" ><%- producto.description %> </textarea>
                </div>
                <div class="row caja3">
    <p>Generos</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="accion" name="Accion" <% producto.genre.forEach(m => {if(m=="Accion"){%> checked <% } });%> >
        <label class="form-check-label" for="accion">
          Accion
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="disparos" name="Disparos"  <% producto.genre.forEach(m => {if(m=="Disparos"){%> checked <% } });%>>
        <label class="form-check-label" for="disparos">
          Disparos
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3" id="estrategia" name="Estrategia"<% producto.genre.forEach(m => {if(m=="Estrategia"){%> checked <% } });%>>
        <label class="form-check-label" for="estrategia" >
          Estrategia
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="4" id="simulacion" name="Simulacion"<% producto.genre.forEach(m => {if(m=="Simulacion"){%> checked <% } });%>>
        <label class="form-check-label" for="simulacion">
          Simulacion
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="5" id="deporte" name="Deporte"<% producto.genre.forEach(m => {if(m=="Deporte"){%> checked <% } });%>>
        <label class="form-check-label" for="deporte">
          Deporte
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="6" id="carrera" name="Carrera" <% producto.genre.forEach(m => {if(m=="Carreras"){%> checked <% } });%>>
        <label class="form-check-label" for="carrera">
          Carrera
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="7" id="aventura" name="Aventura" <% producto.genre.forEach(m => {if(m=="Aventura"){%> checked <% } });%>>
        <label class="form-check-label" for="aventura">
          Aventura
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="8" id="rol" name="ROL" <% producto.genre.forEach(m => {if(m=="ROL"){%> checked <% } });%>>
        <label class="form-check-label" for="rol">
          Rol
        </label>
      </div>
</div>
                
            </div>
            <div class="col-12 col-md-7 cd">
              <div class="row caja4">
                <label for="especificasiones">Especificasiones</label>
                <textarea class="especificaiones" name="requirements" id="especificasiones" cols="40" rows="5"><%- producto.requirements %> </textarea>
            </div>
                <div class="row caja5">
                    <div class="uploadimage">
                    <i class="fas fa-images"></i>
                    <h6>Carga aqui las imagenes</h6>
                    <input type="file" name="image">

                  </div>
                </div>
                <div class="row caja7">
                  <p>Este producto pertenece a ButterFlyPixbit?</p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="propiedad" id="exampleRadios1" value="1"  checked >
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="propiedad" id="exampleRadios2" value="0">
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                    <div class="precio">
                      <label for="precio"> </label>
                      <input type="number" id="precio" name="price" value="<%-producto.price%>">
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
</body>
