<%-include("./partials/head.ejs")%> <%-include("./partials/header.ejs")%>
<section class="container ur">
  <div class="row col-12 video">
    <img autoplay loop width="100%" src="/images/banner.gif" alt=""></video>
  </div>
  <div class="productos col-12">
    <div class="row">
      <div class="titulo col-md-12 col-12">
        <p>JUEGOS BUTTEFLY PIX BIT</p>
      </div>
      <% bpb.forEach(p => { %>
      <div class="col-12 col-md-6 content">
        <a class="vermas" href="/products/<%-p.id%> ">
          <figure class="col-md-4 fig">
            <img
              class="img-fluid imag"
              src="/images/products/<%= p.image %> "
              alt=""
            />
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG"><%-p.name%></h2>
            <p class="pd">
              <%- p.description%>
            </p>
            <h3 class="pri col-4"><%-p.price %></h3>
          </article>
        </a>
      </div>
      <%})%>
    </div>
  </div>
  <div class="productos col-12 prf">
    <div class="row">
      <div class="titulo col-12 col-md-12">
        <p>JUEGOS DE COMPANIAS ALFILIADAS</p>
      </div>
      <% af.forEach(p => { %>
      <div class="col-md-3 col-12">
        <div class="aff">
          <a href="/products/<%- p.id%>">
            <img class="img-fluid" src="/images/products/<%-p.image%>" alt="" />
            <div class="paf col-12">
              <h4 class="pet"><%-p.name %> </h4>
              <p class="pet">
                <%- p.description %> 
              </p>
            </div>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<%-include("./partials/footer.ejs")%>
