<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%> 

<div class="principal">
<div class="container">
  <div class="col-12">
    <h1 class="titJ">Tus Juegos</h1>
    <% if(productos == null){ %> 
      <p class="sinJuegos">Aun no tienes ningun juego, intenta comprando en <a href="/store">la tienda</a></p>
    <% }else{ %> 
    <table class="table table-dark tablek">
        <thead>
          <tr>
            <th scope="col">Juego</th>
            <th scope="col">Nombre</th>
            <th scope="col">key/Serial</th>
          </tr>
        </thead>
        <tbody>
          <% let numero = 0; productos.forEach(element => { %> 
            <tr>
              <th scope="row"><%- numero = numero + 1 %></th>
              <td><%- element.name %> </td>
              <td ><div class="cover">Acerque el mouse para revelar la key</div><div><%- element.cart.cantidad %></div></td>
            </tr>
          <% }); %> 
        </tbody>
      </table>
    <% } %> 
  </div>
</div>
</div>
<%-include("./partials/footer.ejs")%>