<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>

<body>

    
    <h6 class="osi">PelucheOsi</h6>

    <div class="container">
        <%- include("./partials/banner.ejs") %> 
        <div class="row">
            <div class="col-12 cajaPrincipal">

                <div class="col-12 col-md-6 img1">
                    <img class="imgPrincipal "src="/images/products/<%= producto.image %>  " alt="">
                </div>    

                <div class="col-12 col-md-6 cajaDescripcion">
                    <h4 class="col-12"><%= producto.name %> </h4>
                    <h5><%=producto.descripcion%> <h5>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="img2">
                    <img class="imgPrincipal "src="/images/products/<%= producto.image %>  " alt="">
                    </div>
                    <div class=" col-12 cajaImagenes">

                        <div class="col-6 col-md-3 ">
                            <img class="zoom img-fluid" src="/images/products/default-image.png" alt="">
                        </div>
                        <div class="col-6 col-md-3">
                            <img class="zoom img-fluid" src="/images/products/default-image.png" alt="">
                        </div>
                        <div class="col-6 col-md-3">
                            <img class="zoom img-fluid" src="/images/products/default-image.png" alt="">
                        </div>
                        <div class="col-6 col-md-3">
                            <img class="zoom img-fluid" src="/images/products/default-image.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12  cajaSecundaria">
                <div class="col-12 col-md-6 caja3">
                    <div class="requisitos">
                        <h4>Requisitos del sistema</h4>
                        <div>
                            <p><%= producto.requisito %> </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 detalles3">
                    <div class="col-4 col-md-4">
                        <h3><%if (producto.price!=0){ %>$<%-producto.price %><% }else{%>Free to Play<%}%> </h3>
                    </div>
                    <div class="col-4 col-md-4 ">
                        <span >

                        <i class="fas fa-truck "></i>
                        </span>
                    </div>
                    <div class="col-4 col-md-4 ">
                        <form action="" method="POST"><button class="botonAñadir" type="submit">Añadir <i class="fa fa-shopping-cart"
                            aria-hidden="true"></i></button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%-include("./partials/footer.ejs")%>
</body>

</html>