<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<div class="principal">
    
    <div class="container">
        <div class="row">
            <div class="col-12 cajaPrincipal">
                <div class="col-4"><img src="/images/users/<%=user.image%> " alt="" class="img-fluid" style="width: 100%;;"></div>
                <ul>
                <li class="">Numero de Identificacion: <%-user.id%>  </li>
                <li>Nombre: <%-user.name%>  </li>
                <li>Nombre de usuario: <%-user.nameU%> </li>
                <li>Email: <%-user.email%>  </li>
                <li>Juegos Adquiridos: <%- user.product.length %>  </li>
                </ul>
                <%if (userLog!=undefined){ if(userLog.id==user.id){%>
                <div><a href="/users/edit/<%-user.id%> "><button>Editar perfil</button></a></div>
                <% } }%>
            </div>
            
            
        </div>
    </div>
</div>


<%-include("./partials/footer.ejs")%>